#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=ctypesgen
export SETUPTOOLS_SCM_PRETEND_VERSION=$(shell sed -n 's/^Version: //p' PKG-INFO)

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_test:
	# Work around broken upstream
	cp run.py .pybuild/cpython3_3.11_ctypesgen/build/
	dh_auto_test
